<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pawfect_1">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon_1"
        android:label="@string/Petora"
        android:roundIcon="@drawable/app_icon_1"
        android:supportsRtl="true"
        android:theme="@style/Theme.PawFect_1"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Welcome_Page"
            android:exported="false" />
        <activity
            android:name=".Pet_Stores"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CalenderActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DashboardNav"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity_Login" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity_Login" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity_chatBot"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity_Login"
            android:exported="true" />
        <activity
            android:name=".Birds_Diseases"
            android:exported="true"
            android:parentActivityName=".General_Symptoms" />
        <activity
            android:name=".Cats_Diseases"
            android:exported="true"
            android:parentActivityName=".General_Symptoms" />
        <activity
            android:name=".Pet_House"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Dogs_Diseases"
            android:exported="true"
            android:parentActivityName=".General_Symptoms" />
        <activity
            android:name=".General_Symptoms"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Horses_Diseases"
            android:exported="true"
            android:parentActivityName=".General_Symptoms" />
        <activity
            android:name=".Pet_Day_Care"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Pet_Trainers_Near_Me"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Pigs_Diseases"
            android:exported="true"
            android:parentActivityName=".General_Symptoms" />
        <activity
            android:name=".Reptiles_Diseases"
            android:exported="true"
            android:parentActivityName=".General_Symptoms" />
        <activity
            android:name=".Ruminants_Diseases"
            android:exported="true"
            android:parentActivityName=".General_Symptoms" />
        <activity
            android:name=".SmallMammals_Diseases"
            android:exported="true"
            android:parentActivityName=".General_Symptoms" />
        <activity
            android:name=".Veteranians_Near_Me"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Rehabilitation_Centres_Near_Me"
            android:exported="true"
            android:parentActivityName=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>